[submodule "backend"]
	path = backend
	url = https://github.com/datnt1171/task_management.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/datnt1171/frontend_refactor.git
[submodule "dw"]
	path = dw
	url = https://github.com/datnt1171/FastAPI_dw.git
